@charset "utf-8";
header{
    height: 3.2rem;
}
.headerWrap{
    width: 50rem;
    height: 100%;
   
}
.headerWrap ul{
    justify-content: space-around;
    width: 20%;
}
#section01 {
    height: 37.4rem;
}
.sectoinWrap01{
    width: 50rem;
    background-position:  11.75rem 2.25rem;
    background-size:30.4rem 32.7rem ;
}
.first{
    font-size: 3.75rem;
}
.sec{
   font-size: 8.91rem;
   margin-top: -1.7rem;
}
.circle {
    top: 10rem;
    left: 5.8rem;
}
.circle img{
    width: 4.1rem;
    height: 4.1rem;
}
.sectoinWrap01 .txt {
    top: 26.35rem;
    right: 0.5rem;
}
.sectoinWrap01 .txt img{
    width: 83%;
}
.sectoinWrap01 .flower01 {
    top: 21.5rem;
    right: 5.8rem;
}
.sectoinWrap01 .flower01 img, .sectoinWrap01 .flower02 img, .sectoinWrap01 .flower03 img{
    width: 83%;
}
.sectoinWrap01 .flower02 {
    top: 27rem;
    right: 2rem;
}
.sectoinWrap01 .flower03 {
    top: 32rem;
    right: 14rem;
}
.section01_me {
    top: 30rem;
    right: 8.5rem;
}
.section01_me img{
    width: 83%;
}
.section01_me::after {
    font-size: 1.1em;
    padding: 0.8rem 1rem;
    top: 1.5em;
    left: 250%;
  }
  .section01_me:hover::after {
    opacity: 1;
    transform: translatex(-75%) 
  }
  .grass {
    top: 37.6rem;
    right: 8rem;
}
.modalWrap{
    width:32.5rem;
   
} 
.modal{
    width:33rem;
    height: 33.1rem ;
    background-size:30.4rem 32.7rem ; 
    top: 5.42rem;
    left: 3rem;
}
.modal .h1 {
    font-size: 3rem;
    top: 6.2rem;
    left: 9rem;
}

.modal p {
    top: 10rem;
    left: 6rem;
    font-size: 0.9rem;
    line-height: 2rem;
}
.modal .btn {
    top: 5rem;
    right: 9.5rem;
}
.modal .twinkle_01 {
    top: 20rem;
    left: 7rem;
   
}
.modal .twinkle_02 {
    top: 19rem;
    left: 20rem;
}

.sectoinWrap02{
    width: 50rem;
}
.mySkillWrap .h1{
    font-size: 2.8rem;
}
.myskill_box>div {
    width: 19.3rem;
    font-size: 0.9rem;
    margin-top: 2.5rem;
}
.tool .h2, .license .h2 {
    font-size: 1.4rem;
}
.mySkillWrap .twinkle_01 {
    left: 16.9rem;
}

.mySkillWrap .twinkle_02 {
    left: 31.5rem;
}
.mySkillWrap .twinkle_01 img, .mySkillWrap .twinkle_02 img {
    width: 83%;
}
.tool_box div {
    margin-bottom: 2.3rem;
}
.tool_box{
    padding-top: 2rem;
}
.license_box {
    padding-top: 1.4rem;
}
.bar{
    height: 3.5rem;
}
.bar div {
    font-size: 0.9rem;
}

.sectoinWrap03{
    width: 50rem;
}
.sectoinWrap03 .h1 {
    font-size: 2.7rem;
}
.h1_BG {
    top: 4.7rem;
}
.h1_BG img{
    width: 83%;
}
.left_box {
    width: 13.4rem;
}
.about .h2, .cat .h2, .project .h2 {
    font-size: 1.3rem;
}
.aboutBox .strong {
    font-size: 1rem;
}
.aboutBox ul li {
    font-size: 0.8rem;
}
.catBox .navi li {
    font-size: 1rem;
}
.project {
    width: 32.54rem;
}
.proj01 .fadein img, .proj03 .fadein img {
    width: 85%;
}
.proj02 .fadein img {
    width: 95%;
}
.proj04 .fadein img, .proj06 .fadein img {
    width: 95%;
}
.proj05 .fadein img{
    width: 105%;
}
.proj07 .fadein img{
    width: 98%;
}
.proj08 .fadein img, .proj09 .fadein img {
    width: 107%;
}
.proj10 .fadein img, .proj12 .fadein img {
    width: 110%;
}
.proj11 .fadein img{
    width: 125%;
}
.proj02, .proj05 {
    margin: 10.2rem 0rem 0 -1rem;
}
.proj09 {
    margin: 7.4rem 1rem 0 0;
}
.proj11 {
    margin: 8rem 0 0 -2rem;
}
.proj12 {
    margin-right: 1rem;
}
.proj_name01 {
    top: 43%;
    left: 42%;
    font-size: 1.3rem;
}
.proj_name02 {
    top: 40%;
    left: 47%;
    font-size: 1.3rem;
}
.proj_name03 {
    top: 40%;
    left: 43%;
    font-size: 1.3rem;
}
.proj_name04 {
    top: 39%;
    left: 50%;
    transform: translate(-51%,-40%);
    font-size: 1.3rem;
}
.proj_name05 {
    top: 50%;
    left: 50%;
    transform: translate(-48%,-132%);
    font-size: 1.3rem;
}
.proj_name06, .proj_name07 {
    transform: translate(-67%,-111%);
    font-size: 1.3rem;
}
.proj_name08 {
    transform: translate(-57%,-105%);
    font-size: 1.3rem;
}
.proj_name09 {
    transform: translate(-58%,-111%);
    font-size: 1.3rem;
}
.proj_name10 {
    transform: translate(-56%,-50%);
    font-size: 1.3rem;
}
.proj_name11 {
    transform: translate(-59%,-144%);
    font-size: 1.3rem;
}
.proj_name12{
    transform: translate(-54%,-98%);
    font-size: 1.3rem;
}
.pubBox, .desBox {
    padding-top: 2rem;
}
.proj06 {
    margin-right: 0;
}
.btn-top{
    right: 5rem;
}
.btn-top span{
    font-size: 1rem;
}


/*sub01 start*/

.sub01Wrap, .sub02Wrap {
    width: 50rem;
}

.sub01Wrap .h1, .sub02Wrap .h1 {
    font-size: 4rem;
}
.sub01Wrap .list, .sub02Wrap .list {
    margin-right: 6.5rem;
}
.list::after {
    width: 4.5rem;

}
.explainBox .active {
    left: 8.8rem;
}
.explanation p {
    font-size: 0.9rem;
}
.explanation p br{
    display: inline-block;

    content: " ";

    padding: 0 2px;
 }