@charset "utf-8";
html, body { max-width: 100%; overflow-x: hidden;}

header{
    height: 4rem;
}
.headerWrap{
    max-width: 18rem;
    height: 100%;
    flex-direction: column;
   align-items: flex-start;
}
.headerWrap ul{
    flex-direction: column;
    align-items: content ;
    width: 100%;
  

}
.headerWrap ul li{
    padding-right: 0rem;
}
.nav__toogleBtn{
    display: block;
}
#section01 {
    height: 41rem;
}

.sectoinWrap01{
    max-width: 18rem;
    background-position: 0rem 12.7rem;
    background-size: 17.5rem 20.25rem;
}

.headerWrap a {
    padding: 1rem 0;
}

.headerWrap ul li {
    padding-right: 0rem;
    line-height: 2.5rem;
    text-align: center;
}
.headerWrap .nav__menu{
    display: none;
}
.headerWrap .nav__menu.active{
    display: flex;
    padding-top: 1rem;
    z-index: 4;
}
.first {
    font-size: 2.7rem;
    text-align: left;
    margin-bottom: 3rem;
}
.sec {
    font-size: 7.5rem;
    line-height: 8rem;
}
.headerWrap ul li:hover{
    transform: none;
    
}
.headerWrap ul li a:hover{
    color: #222;
    -webkit-text-stroke:none;
}
.main_txt .sec>span{
    display: block;
    text-align: left;
}

.circle {
    top: 5.5rem;
    left: 12.5rem;
}
.circle img {
    width: 4rem;
    height: 4rem;
}
.section01_me {
    position: absolute;
    top: 34rem;
    right: 2.5rem;
}
.section01_me img{
   width: 80%;
}
.section01_me::after {
    display: none;
}
.sectoinWrap01 .txt {
    top: 35.35rem;
    left: 1.5rem;
}
.sectoinWrap01 .txt img {
   width: 83%;
}
.sectoinWrap01 .flower01 {
    top: 33rem;
    right: 0.8rem;
}
.sectoinWrap01 .flower02 {
    top: 31rem;
    right: 6.5rem;
}
.sectoinWrap01 .flower03 {
    top: 36rem;
    left: 2rem;
}
.grass {
    top: 41.3rem;
    right: 2.2rem;
}
.modalWrap {
    width: 100%;
    height: 45rem;
}

.modal {
    width: 16rem;
    height: 23rem;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F7FAEE;
    border: 1px solid;
    text-align: center;
    padding: 2.5rem 2rem 2rem 2rem;
}

.modal .h1 {
    font-size: 2.5rem;
    position:static;
 
}
.modal p {
    position: static;
    font-size: 0.7rem;
    line-height: 2rem;
    margin-top: 2rem;
}
.modal p br{
   display: none;
}
.modal .btn {
    position: static;
    cursor: pointer;
    width: 2rem;
    height: 1.5rem;
    padding: 0.2rem 0.5rem 0.1rem;
    background-color: #DBF7D7;
    border-radius: 1.5rem;
    border: 0.05rem solid #222;
    margin-top: 1.8rem;
}

/* section02 start */
.sectoinWrap02{
    max-width: 18rem
}


#section02 {
    height: 55.15rem;
}
.sectoinWrap03{
    max-width: 18rem;

}
.mySkillWrap {
    height: 45.85rem;
}
.myskill_box {
     display: block;
}
.myskill_box>div {
    max-width: 15rem;
    margin: 0 auto;
    margin-top: 2.5rem;
}
.mySkillWrap .h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}
.tool .h2, .license .h2 {
    font-size: 1rem;
}
.tool_box {
    font-size: 0.7rem;
}
.license ul li {
    font-size: 0.8rem;
}
.mySkillWrap .twinkle_01 {
    top: 5rem;
    left: 3rem;
}
.mySkillWrap .twinkle_02 {
    top: 2.4rem;
    left: 14rem;
}
.mySkillWrap .twinkle_01 img, .mySkillWrap .twinkle_02 img{
   width: 80%;
}
.bar {
    height: 3.2rem;
}
.bar div {
    top: 30%;
}
.bar div span {
    font-size: 0.8rem;
}

/*section03 start*/
#section03 {
    height: 57.65rem;
}
.sectoinWrap03 .h1 {
    font-size: 2.3rem;
    padding-left: 1rem;
}
.h1_BG {
    top: 4.7rem;
    left: 7.8rem;
}
.h1_BG img{
    width: 80%;

}
.workBox {
    display: block;

}
.left_box {
    max-width: 18rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0 0;
    margin: 0 auto;
}
.about .h2, .cat .h2, .project .h2 {
    font-size: 1rem;
}
.aboutBox ul li{
    font-size: 0.6rem;
} 
.aboutBox .strong {
    font-size: 0.8rem;
}
.catBox .navi li {
    font-size: 0.8rem;
}

.project{
    max-width: 18.05rem;
    width: 22rem;
    padding: 0 0.5rem;
}
.pub01, .des01, .des02, .des03{
    display: block;
    padding-top: 1.4rem;
    
}
.pub01 img, .des01 img, .des02 img, .des03 img{
    display: none;
   
}


.pubBox, .desBox{width: 100%;}
.proj_name01, .proj_name02, .proj_name03, .proj_name04,
.proj_name05, .proj_name06, .proj_name07, .proj_name08,
.proj_name09, .proj_name10, .proj_name11, .proj_name12{
    position:static;
    font-size: 1.2rem;
    padding: 0.7rem 6.5rem 0.7rem 2rem;
    border: 0.1rem dashed #333;
    border-radius: 15rem;
}
.proj01, .proj02, .proj03, .proj04, .proj05, .proj06,
.proj07, .proj08, .proj09, .proj10, .proj11, .proj12{
    height: 1.6rem;
    margin: 0;
    margin-bottom: 6.5rem;
    display: block;
}
.proj_name01:hover, .proj_name02:hover, .proj_name03:hover
{
    background-color:  #D9DBF4;
}
.proj_name04:hover, .proj_name05:hover, .proj_name06:hover, .proj_name07:hover, .proj_name08:hover,
.proj_name09:hover, .proj_name10:hover, .proj_name11:hover, .proj_name12:hover{
    background-color:  #DBF7D7;
}

.des01, .des02, .des03{
    margin-right: 5.1rem;
}
.mySwiper {
    height: 23.7rem;
}
.btn-top{
    display: none;
}
footer span {
    font-size: 0.8rem;
}
.modalBG{
    display: none;
}

/*sub*/
.sub01Wrap{
    height: 90rem;
}
.sub01Wrap .h1, .sub02Wrap .h1 {
    font-size: 2.2rem;
    margin-top: 9rem;
}
.sub01Wrap>p, .sub02Wrap>p {
    font-size: 0.7rem;
}
.sub01Wrap, .sub02Wrap {
    max-width: 16rem;
}
.sub01Wrap .list, .sub02Wrap .list {
    font-size: 1rem;
    margin-right: 4rem;
}
.content {
    margin-top: 3rem;
}
.content .listBG {
    width: 17%;
    left: -0.7rem;
   
}
.list::after {
    width: 1.55rem;
    left: 3rem;
}
.tabMenu li {
    font-size: 1.2rem;
}
.tabMenu .active {
    font-size: 1.2rem;
}
.explainBox .active {
    left: 0rem;
    margin: 0 auto;
}
.portfolioBox>img {
    width: 100%;
}    
.portfolioBox {
   display: block;
}
.explanation .h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
    margin-top: 3rem;
}
.explanation p {
    font-size: 0.8rem;
}
.explanation span {
    font-size: 0.8rem;
}
.explanation .btn {
    font-size: 0.8rem;
    padding: 0.8rem 1rem 0.8rem 1.6rem;
    width: 7rem;
    margin-top: 1.8rem;
}

/*sub02 start*/
.sub02Wrap {
    height: 96rem;
}
.explanation .sub02H2 {
    font-size: 1.5rem;
    margin-top: 3rem;
    max-width: 16rem;
}
.sub02Wrap .content{
    display: block;
}
.sub02Wrap .content .tabMenu{
    display: table-cell;
    padding-top: 1.5rem;
}
.portfolioBox {
    padding-top: 2rem;
}
.sub02Wrap .tabMenu li {
    font-size: 0.8rem;
    margin-right: 1rem;
}
.sub02Wrap .tabMenu .active {
    font-size: 0.8rem;
}
.tabMenu .active::after {
    display: none;
}